*{background-color: wheat;
    font-size: larger;
    text-align: center;
    border-radius: 20px;
    font-style: italic;
    color: black;
}
.img{
    height: 350px;
   
}
header{
    text-align: left;

}

